/Unidad I/Actividades/ArreglosUnidimensionales/nbproject/private/
/Unidad I/Actividades/ArreglosUnidimensionales/build/
/Unidad I/Actividades/Unidad2/nbproject/private/
/Unidad I/Actividades/Unidad2/build/
/Unidad II/Ejemplos/nbproject/private/
/Unidad II/Ejemplos/build/
/Unidad III/ProyectoCalificaciones/nbproject/private/
/Unidad III/ProyectoCalificaciones/build/
/Unidad III/EjemplosEstructurasLineales/nbproject/private/
/Unidad III/EjemplosEstructurasLineales/build/
/Unidad III/AplicacionPilas/nbproject/private/
